<div class="main">
  <div class="login-form-container">
    <div class="login-card">
      <h2 class="text-center">Bienvenido (a)</h2>
      <form [formGroup]="form" (ngSubmit)="login()">
        <div class="form-field-container">
          <mat-form-field>
            <input
              matInput
              placeholder="Correo"
              formControlName="email"
              required
            />
            <mat-error *ngIf="this.form.controls.email.invalid">{{
              getErrorMessage('email')
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <mat-form-field>
            <input
              matInput
              placeholder="Contraseña"
              formControlName="password"
              required
              type="password"
            />
            <mat-error *ngIf="this.form.controls.password.invalid">{{
              getErrorMessage('password')
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <button
            [disabled]="!this.form.valid"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Iniciar Sesión
          </button>
          <hr *ngIf="this.message" />
          <mat-error *ngIf="this.message">{{ this.message }}</mat-error>
        </div>
      </form>
    </div>
  </div>
</div>
