<div *ngIf="this.userInfo" class="user-info">
  <div class="usr-img">
    <img src="{{ this.userInfo.photoURL }}" alt="" />
  </div>
  <div class="usr-name">
    <h3>{{ this.userInfo.displayName }}</h3>
    <p>
      <span>{{ this.userInfo.email }}</span>
    </p>
  </div>
</div>
<mat-nav-list>
  <a mat-list-item routerLink="dashboard" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Inicio</span>
  </a>
  <a mat-list-item routerLink="myaccount" (click)="onSidenavClose()">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">Mi Cuenta</span>
  </a>
  <a mat-list-item routerLink="accounts" (click)="onSidenavClose()">
    <mat-icon>people</mat-icon>
    <span class="nav-caption">Usuarios</span>
  </a>
  <hr />
  <a mat-list-item (click)="logout()">
    <mat-icon>cloud_off</mat-icon>
    <span class="nav-caption">Cerrar Sesión</span>
  </a>
</mat-nav-list>
