.form-container {
  // width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}
.form-field-container {
  display: flex;
  flex-direction: column;
}

.form-field-container > * {
  width: 100%;
}
.button-card {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  cursor: pointer;
  img {
    padding: 10px;
    width: 128px;
    height: 128px;
  }
}
.options {
  margin-top: 20px;
}
