<div fxLayout="row" fxLayout.xs="column">
  <div fxFlex="100" fxFlexAlign="center">
    <div class="form-container">
      <h3 class="text-center">
        Información de cuenta
      </h3>
      <div *ngIf="this.form" class="form-field-container">
        <form [formGroup]="form" (ngSubmit)="save()">
          <div class="form-field-container">
            <mat-form-field>
              <input
                matInput
                placeholder="Nombre"
                formControlName="name"
                required
              />
              <!-- <mat-error *ngIf="this.form.controls.email.invalid">{{
                getErrorMessage('email')
              }}</mat-error> -->
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <input
                matInput
                placeholder="Apellidos"
                formControlName="surname"
                required
              />
              <!-- <mat-error *ngIf="this.form.controls.password.invalid">{{
                getErrorMessage('password')
              }}</mat-error> -->
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <input
                matInput
                placeholder="Telefono"
                formControlName="phoneNumber"
                type="tel"
              />
              <!-- <mat-error *ngIf="this.form.controls.password.invalid">{{
                  getErrorMessage('password')
                }}</mat-error> -->
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <button
              [disabled]="!this.form.valid"
              type="submit"
              mat-raised-button
              color="primary"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
